* {
  text-align: center;
  color: rgb(204,204,204);
  font-family: 'Vollkorn', serif;
}

body {
  background-color: rgb(10,10,10);
}

#avatar {
  margin-top: 50px;
  border-radius: 50%;
  position: relative;
  height: 100px;
  width: 100px;

}

p {
  font-size: 30px;
  margin: 0 13% 0 13%;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

a {
  color: rgb(255,255,51);
  text-decoration: none;
}

hr {
  width: 85%;
}

.footer {
  position: relative;
}
.footer_left {
  float: left;
}
.footer_left a{
  padding: 20px 20px;
  display: inline-block;
  font-size: 20px;
}
.footer_right {
  float: right;
}

.footer_right {
  padding: 20px 20px;
  display: inline-block;
  font-size: 20px;
}

.grid {
  display: grid;
}